

body{
    font-family: "Inter", sans-serif;
}
.textsm{
    font-size: 10px;
}
/* .custom-toast {
    width: 200px !important;
    min-height: 40px !important;
    border-radius: 8px;
    padding: 8px;
}

.custom-toast-body {
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
} */
